In [13]:
# Dependencies
import numpy as np
import pandas as pd


# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [4]:
Base.classes.keys()

['measurement', 'station']

## D1: Determine the Summary Statistics for June

In [9]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract 

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 

june_temps = session.query(Measurement.tobs).filter(extract('month', Measurement.date)==6).all()

#print(june_temps)

In [10]:
#  3. Convert the June temperatures to a list.
# this unravels results into a one-dimensional array and convert that array into a list
temps_list = list(np.ravel(june_temps))

#print(temps_list)

In [14]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
temps_df = pd.DataFrame(temps_list, columns=['June Temperatures'])
print(temps_df)

      June Temperatures
0                  78.0
1                  76.0
2                  78.0
3                  76.0
4                  77.0
...                 ...
1695               79.0
1696               74.0
1697               74.0
1698               76.0
1699               75.0

[1700 rows x 1 columns]

In [15]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
temps_df.describe()

       June Temperatures
count        1700.000000
mean           74.944118
std             3.257417
min            64.000000
25%            73.000000
50%            75.000000
75%            77.000000
max            85.000000

## D2: Determine the Summary Statistics for December

In [17]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
Dec_temps = session.query(Measurement.tobs).filter(extract('month', Measurement.date)==12).all()

#print(Dec_temps)

In [18]:
# 7. Convert the December temperatures to a list.
temps_list2 = list(np.ravel(Dec_temps))

#print(temps_list2)

In [19]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
temps_df2 = pd.DataFrame(temps_list2, columns=['December Temperatures'])
print(temps_df)

      June Temperatures
0                  78.0
1                  76.0
2                  78.0
3                  76.0
4                  77.0
...                 ...
1695               79.0
1696               74.0
1697               74.0
1698               76.0
1699               75.0

[1700 rows x 1 columns]

In [20]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
temps_df2.describe()

       December Temperatures
count            1517.000000
mean               71.041529
std                 3.745920
min                56.000000
25%                69.000000
50%                71.000000
75%                74.000000
max                83.000000